<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">C1</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">            
                <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Início</a></li>
                <li class="breadcrumb-item active">C1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-orange card-outline" >
          <div class="card-header">
            <div class="row"> 
              <!--
              <div class="col-md-1">
                <button type="button" class="btn btn-block btn-outline-primary btn-flat"><i class="fas fa-plus"></i></button>
              </div> -->
              <div class="col-7">
              </div>
              <div class="col-1">
                <select [(ngModel)]="itenspage" class="form-control form-control-border">                                        
                  <option value="12">12</option>
                  <option value="36">36</option>
                  <option value="72">72</option>
                  <option value="144">144</option>
                  <option value="288">288</option>       
                </select>
              </div>
              <div class="col-4">
                <input type="text"  [(ngModel)]="textfilter" (keyup)="filterdata()" class="form-control form-control-border float-right" placeholder="Pesquisar...">                  
              </div>
            </div>
            
          </div>
          <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
              <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch" *ngFor="let data of data$  | paginate: { itemsPerPage: itenspage, currentPage: p }">
                <div class="card bg-light col-12">
                  <div class="card-header text-muted border-bottom-0">
                    {{data.posto_grad.nome}}
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-12 text-center">
                        <img src="{{path+data.foto}}" *ngIf="data.foto" alt="user-avatar" width="120px" height="120px" class="img-circle img-fluid">
                        <img src="{{path+'cm.jpg'}}" *ngIf="!data.foto" alt="user-avatar" width="120px" height="120px" class="img-circle img-fluid">
                      </div>
                      <div class="col-12">
                        <h2 class="lead"><b>{{data.nome}} <span *ngIf="data.nome_guerra">({{data.nome_guerra}})</span></b></h2>
                        <h3 class="lead">{{data.funcao.nome}} </h3>
                        <h3 class="lead">{{data.setor.nome}} / {{data.orgao.nome}}</h3>
                        <!--<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>-->
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-home"></i></span> Endereço: {{data.rua}}, {{data.numero}}, {{data.complemento}}, {{data.bairro}}, <span *ngIf="data.cidade">{{data.cidade.nome}}</span> <span *ngIf="data.estado"> - {{data.estado.uf}}</span></li>
                          <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefone 1: {{data.telefone1}}</li>
                          <li class="small" *ngIf="data.telefone2">
                            <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefone 2: {{data.telefone2}}</li>
                          <li class="small">
                              <span class="fa-li"><i class="fas fa-lg fa-at"></i></span> E-mail: {{data.email}}</li>
                        </ul>
                      </div>
                      
                    </div>
                  </div>
                  <!--
                  <div class="card-footer">
                    <div class="text-right">                    
                      <a href="perfil.html" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> Ver perfil
                      </a>
                    </div>
                  </div> -->
                </div>
              </div>          
  
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
              nextLabel="Próximo"  ></pagination-controls>
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
  
      </section>
      <!-- /.content -->


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  <app-controlbar></app-controlbar>
  <app-footer></app-footer>
  
</div>
<!-- ./wrapper -->