<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Garagem</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">            
                <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Início</a></li>
                <li class="breadcrumb-item active">Garagem</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        
        <!-- Default box -->
      <div class="card card-orange card-outline" *ngIf="show == 0">
        <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
          <div class="col-4">
            
          </div>
          <div class="col-4">
            <h3>Selecione o posto de serviço:</h3>
            <select [(ngModel)]="posto" class="form-control form-control-border">                                        
              <option value=""></option>
              <option *ngFor="let posto of postos$" [value]="posto.id">{{posto.nome}} / {{posto.orgao.nome}}</option>
                    
            </select>
            <button (click)="getPosto()" class="btn btn-primary btn-flat btn-block" style="margin-top: 30px;">Selecionar</button>
          </div>
          <div class="col-4">
          </div>
        </div>

      </div>
      
      <!-- depois de selecionar o posto de serviço -->
      <div class="card card-orange card-outline" *ngIf="show == 1">
        <div class="card-header">
          <div class="row">             
            <div class="col-6" *ngIf="selecionado">
              <h3 class="d-inline">Posto:</h3>
              <h4 class="d-inline"> {{selecionado.nome}} / {{selecionado.orgao.nome}}</h4>
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-link" (click)="voltar()">Voltar</a>
              {{dayName[date.getDay() ] + ", " + date.getDate () + " de " + monName [date.getMonth() ]   +  " de "  +     date.getFullYear ()}}
            </div>
          </div>
          
        </div>
        <div class="card-body">
          <div class="row">             
            <div class="col-3">
              <div class="form-group">
                <label for="placa">Placa<span class="text-danger">*</span></label>
                
                <input  type="text" maxlength="7" placeholder="Placa" [(ngModel)]="placa" (blur)="getVeiculo()" class="form-control form-control-border"/>
              </div>
            </div>
            <div class="col-9" *ngIf="!data$" style="text-align: center;">
              <h2>Informe a placa do carro!</h2>
              <i class="fas fa-fingerprint text-primary" style="font-size: 150px;"></i>
            </div>
            <div class="col-9" *ngIf="data$">

              <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-olive">
                 
                  <h3 class="widget-user-username">{{data$.usuario.nome}}</h3>
                  <h5 class="widget-user-desc">{{data$.usuario.funcao.nome}} / {{data$.usuario.setor.nome}} / {{data$.usuario.orgao.nome}}</h5>
                </div>
                <div class="widget-user-image">
                  <img class="img-circle elevation-2" *ngIf="foto" src="{{path+foto}}"  alt="User Avatar" style="max-width: 90px; max-height: 90px;">
                  <img class="img-circle elevation-2" *ngIf="!foto" src="{{path+'cm.jpg'}}" alt="User Avatar" style="max-width: 90px; max-height: 90px;">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <dl class="row">
                        <dt class="col-sm-4">Posto/grad.:</dt><dd class="col-sm-8">{{data$.usuario.posto_grad.nome}}</dd>
                        <dt class="col-sm-4">CPF:</dt><dd class="col-sm-8">{{data$.usuario.cpf}}</dd>
                        <dt class="col-sm-4">Data nasc.:</dt><dd class="col-sm-8">{{data$.usuario.data_nascimento | date:'dd/MM/yyyy'}}</dd>
                        <dt class="col-sm-4">Telefone 1:</dt><dd class="col-sm-8">{{data$.usuario.telefone1}}</dd>
                        <dt class="col-sm-4">E-mail:</dt><dd class="col-sm-8">{{data$.usuario.email}}</dd>
                        <dt class="col-sm-4">Endereço:</dt><dd class="col-sm-8">{{data$.usuario.rua}}, {{data$.usuario.numero}}, {{data$.usuario.complemento}}, {{data$.usuario.bairro}}, <span *ngIf="data$.usuario.cidade">{{data$.usuario.cidade.nome}}</span> <span *ngIf="data$.usuario.estado"> - {{data$.usuario.estado.uf}}</span></dd>
                        
                      </dl>
                    </div>
                    <div class="col-8">
                      <h4>Veículo</h4>
                      <dl class="row">
                        <dt class="col-sm-4">Marca:</dt><dd class="col-sm-8">{{data$.marca.nome}}</dd>
                        <dt class="col-sm-4">Modelo:</dt><dd class="col-sm-8">{{data$.modelo.nome}}</dd>
                        <dt class="col-sm-4">Cor:</dt><dd class="col-sm-8">{{data$.cor.nome}}</dd>
                        <dt class="col-sm-4">Placa:</dt><dd class="col-sm-8">{{data$.placa}}</dd>                       
                        
                      </dl>
                      
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-primary btn-clock btn-flat col-12"  (click)="registrar()">Registrar acesso</button>
                             
                </div>
              </div>
              
            </div>          
          </div>          
        </div>
        

      </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  <app-controlbar></app-controlbar>
  <app-footer></app-footer>
  
</div>
<!-- ./wrapper -->