<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Relatório de evento</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">            
              <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Início</a></li>
            <li class="breadcrumb-item active">Relatório de evento</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <div class="content" >
      <div class="container-fluid">
        <div class="row">
          
          <!-- LISTA DE funções -->
          <div class="col-12">
            <div class="card card-orange card-outline" *ngIf="!show">
                <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
                    <div class="col-4">
                      
                    </div>
                    <div class="col-4">
                      <h3>Selecio o evento:</h3>
                      <ngx-select [items]="eventos$" [(ngModel)]="evento" [allowClear]="true" optionTextField="nome" style="border-top: 0; border-left: 0;" id="evento"></ngx-select>
                      
                      <button (click)="getEvento()" class="btn btn-primary btn-flat btn-block" style="margin-top: 30px;">Selecionar</button>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
            </div>
            <div class="card card-orange card-outline" *ngIf="show">
              
             <!-- -----------fim loading----------- -->
              <!-- ---------------------- -->
              <div class="card-header ">
                <div class="row">
                    <div class="col-12">
                      <a class="btn btn-link float-sm-right noprint" (click)="show = 0;">Voltar</a>
                    </div>
                    <div class="col-1">
                        
                        <img src="{{ce}}" alt="CM" class="brand-image  " style="height: 100px; max-height: 100px;" >
                    </div>
                    <div class="col-10" style="text-align: center; vertical-align: middle;">
                        <h1>Governo do Estado do Ceará</h1>
                        <h2>Casa Militar</h2>
                        <h3>{{data$.setor.nome}} / {{data$.orgao.nome}}</h3>
                    </div>
                    <div class="col-1" style="text-align: right;">
                        <img src="{{cm}}" alt="CM" class="brand-image" style="height: 100px; max-height: 100px;" >
                    </div>
                </div>
               
              </div>
  
              <!-- ---------------------- -->
  
              <div class="card-body table-responsive p-0">
                <div style="text-align: center; margin-top: 20px;">
                    <h2>{{data$.nome}}</h2>
                </div>
        
                <div class="content">
                    <div class="container-fluid">
                        <h4>Informações do evento:</h4>
                        <div class="row">
                            
                            <div class="col-12">
                                <div class="row">
                                  <div class="col-3">
                                      <b>Tipo:</b>
                                      {{data$.eventotipo.nome}}
                                  </div>
                                  <div class="col-2">
                                      <b>Data:</b>
                                      {{data$.data  | date:'dd/MM/yyyy'}}
                                  </div>
                                  <div class="col-2">
                                      <b>Hora:</b>
                                      {{data$.hora}}
                                  </div>
                                  <div class="col-2">
                                      <b>Cidade - UF:</b>
                                      {{data$.cidade.nome}} - {{data$.estado.uf}}
                                  </div>  
                               
                                    
                                    <div class="col-12">
                                      <b>Observações:</b>
                                      <p style="text-align: justify;">{{data$.observacao }}</p>
                                    </div>                               
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <h5 style="margin-left: 10px; text-align: center;" *ngIf="data$.usuarios"><b>Pessoas</b></h5>
                <table  class="table table-hover text-nowrap" *ngIf="data$.usuarios">
                    <thead>
                      <tr>
                        <th>POSTO/GRAD</th> 
                        <th>NOME</th> 
                        <th>CPF</th> 
                        <th>DATA NASCIMENTO</th> 
                        <th>SETOR / ORGÃO</th>
                        <th>TELEFONE 1</th>
                        <th>ASSINATURA</th>
                        
                      </tr>
                    </thead>                    
                    <tbody >
                      <tr *ngFor="let usu of data$.usuarios">
                          <td>{{ usu.posto_grad.nome }}</td> 
                          <td>{{ usu.nome }}</td> 
                          <td>{{ usu.cpf }}</td>  
                          <td>{{ usu.data_nascimento | date:'dd/MM/yyyy'}}</td>    
                          <td>{{ usu.setor.nome }} / {{ usu.orgao.nome }}</td>  
                          <td>{{ usu.telefone1 }}</td> 
                          <td><span *ngIf="usu.pivot.presente == 1">PRESENTE</span></td>
                      </tr>
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                  </table>

                  <h5 style="margin-left: 10px; text-align: center;" *ngIf="data$.veiculos"><b>Viaturas</b></h5>
                  <table  class="table table-hover text-nowrap" *ngIf="data$.veiculos" >
                    <thead>
                      <tr>
                        <th>SETOR / ORGÃO</th> 
                        <th>MODELO / MARCA</th> 
                        <th>PLACA</th> 
                        <th>RENAVAM</th> 
                        
                        
                      </tr>
                    </thead>                    
                    <tbody >
                      <tr *ngFor="let vei of data$.veiculos ">
                          <td>{{ vei.setor.nome }} / {{ vei.orgao.nome }}</td> 
                          <td>{{ vei.modelo.nome }} / {{ vei.marca.nome }}</td> 
                          <td>{{ vei.placa }}</td> 
                          <td>{{ vei.renavam }}</td>  
                         
                         
                      </tr>
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                  </table>
  
              </div>
              <!-- ---------------------- -->
              <div class="card-footer clearfix">
                <div class="row">
                    <div class="col-4">
                        Usuário: {{user.nome}}                        
                    </div>
                    <div class="col-4" style="text-align: center; vertical-align: middle;">
                        
                    </div>
                    <div class="col-4" style="text-align: right;">
                        Data/Hora: {{date.getDate () + " de " + monName [date.getMonth() ]   +  " de "  +     date.getFullYear () +", "+date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds()}}
                    </div>
                </div>
              </div>
              <!-- ---------------------- -->
            </div>
  
           
  
          
  
          </div>
          <!-- FIM LISTA DE USUÁRIOS -->
  
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  
  <app-controlbar></app-controlbar>
  <app-footer></app-footer>
  
  </div>
  <!-- ./wrapper -->